/.vs/NUnitLessonsSharonSefi/v16/.suo
/.vs/NUnitLessonsSharonSefi/v16/.suo
/.vs/NUnitLessonsSharonSefi/v16/.suo
/.vs/NUnitLessonsSharonSefi/v16/.suo
/.vs/NUnitLessonsSharonSefi/v16/.suo
/.vs/NUnitLessonsSharonSefi/v16/.suo
/.vs/NUnitLessonsSharonSefi/v16/.suo
/.vs/NUnitLessonsSharonSefi/v16/.suo
/.vs/NUnitLessonsSharonSefi/v16/TestStore/0/000.testlog
/.vs/NUnitLessonsSharonSefi/v16/TestStore/0/testlog.manifest
/bin/Debug/NUnitLessonsSharonSefi.dll
/bin/Debug/NUnitLessonsSharonSefi.pdb
/NUnitLessonsSharonSefi.sln.DotSettings.user
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/NUnitLessonsSharonSefi.csproj.CoreCompileInputs.cache
/obj/Debug/NUnitLessonsSharonSefi.csproj.FileListAbsolute.txt
/obj/Debug/NUnitLessonsSharonSefi.dll
/obj/Debug/NUnitLessonsSharonSefi.pdb
